body{
background-image: url(../ft.img/fafa4da1f235dc785e16b1d77d3b8119.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.body-login{
border-radius: 30px;
height: 650px;
width: 200px;
border: none;
margin-top: 65px;
margin-left: -10px;

}
#PL{
color: aliceblue;  
margin-left: 175px;
padding-top: 30pt;

}

#us{
margin-left: 15px;    
margin-top: 50px;
}

#pass{
margin-left: 15px;    
margin-top: 50pt;

}

label{
    color:whitesmoke ;

}

input{
 border-radius: 20px;
 border: none; 
 height: 40pt;
 width: 250px;
 margin-left: 75px;

}
.t1{
margin-left: 30px;

}
.t2{
    margin-left: 30px;
    
}

button{
border-radius: 20px;
height: 75px;  
width: 400px; 
border: none; 
margin-top: 30px;
margin-left: 25px;
color: aliceblue;
background-color: rgb(150, 142, 204);
}

#bb{
padding-bottom: 30px;    
}
#fp-r{
 display: flex;   
}
.ckekbox{
  margin-left: 30px;
  height: 10px;  
}
.ecc{
 
 margin-left: 40px; 
 padding-left: 55px; 
 margin-top: 7px;
 display: flex;
}
.ecc a{
 text-decoration:none;

}
#fp{

}
#cc{
padding-left: 30px;  
  
}

@media(max-width:480px){
  body{
   background-size: cover;

    
    }
    .body-login{
      border-radius: 30px;
      height: 850px;
      width: 50px;
      border: none;
      margin-top: 25px;
      margin-left: 30px;
      justify-content: center;
      align-items: center;
      }
      button{
        border-radius: 20px;
        height: 70px;  
        width: 320px; 
        border: none; 
        margin-top: 30px;
        margin-left: -11px;
        color: aliceblue;
        background-color: rgb(150, 142, 204);
        }
        .t1{
          margin-left: -33px;
          
          }
          .t2{
              margin-left: -33px;
              
          }
          #PL{
            color: aliceblue;  
            margin-left: 92px;
            padding-top: 30pt;
            
            }
            .ecc{
              box-sizing: border-box;
              margin-left: 60px;  
              margin-top: 7px;
              display: flex;
             }
             .ecc a{
              display: flex;
             }
}