body{
background-image: url(../ft.img/fafa4da1f235dc785e16b1d77d3b8119.jpg);
justify-items: center;
justify-content: center; 
}

.body-login{
border-radius: 30px;
background-image: url(hands-68918_1280.webp);
height: 650px;
width: 1400px;
justify-items: center;
justify-content:center;
flex-wrap: wrap;
border: none;
margin-top: 65px;
margin-bottom: 65px;

}
#PL{
color: aliceblue;  
margin-left: 175px;
padding-top: 30pt;

}

#us{
margin-left: 15px;    
margin-top: 50px;
}

#pass{
margin-left: 15px;    
margin-top: 50pt;

}

label{
    color:whitesmoke ;

}

input{
 border-radius: 20px;
 border: none; 
 height: 40pt;
 width: 300px;
 margin-left: 75px;

}
.t1{
margin-left: 30px;

}
.t2{
    margin-left: 30px;
    
}

button{
border-radius: 20px;
height: 75px;  
width: 400px; 
border: none; 
margin-top: 80px;
margin-left: 25px;
color: aliceblue;
background-color: rgb(150, 142, 204);
}

#bb{
padding-bottom: 30px;    
}
#fp-r{
 display: flex;   
}
.ckekbox{
  margin-left: 30px;
  height: 10px;  
}