body{
background-image: url(../ft.img/fafa4da1f235dc785e16b1d77d3b8119.jpg);
background-repeat: no-repeat;
background-size: cover;

}

header{ 
background-color:transparent;
border-radius: 15px;
border: none;
height: 110px;



}

#name-santa{
 color: rgb(255, 255, 255); 
 padding-bottom:-7px ;

}
#name-catarina{
margin-left: 75px;  
color: rgb(255, 255, 255);
padding-bottom: 25px;
}

#name-santa-catarina{
margin-left: 50pt; 
}

.santa-catarina-bi{
  display: flex;
}


#conectar{
 font-size: 15px; 
 color: rgb(255, 255, 255);
 background-color: rgb(150, 150, 255);

}
#cadastre-se{
  font-size: 15px; 
  color: rgb(255, 255, 255);
  background-color: rgb(150, 150, 255);
  margin-top: -100px;
  margin-left: 10px;

}
.botoes{
  margin-left: 190pt;
  display: flex;
 
  }

button{
 height: 35px; 
 border-radius: 15px;
 border: none;
}
.elements-basic{
display: flex;
margin-left: 350px;  
}
a:link{
text-decoration: none;  
}
a:hover{
color: aliceblue;
 
}
h2{
margin-left: 15px;  
color:rgb(124, 124, 236);
}
h2:hover{
  color: whitesmoke;
}
footer{
  justify-content: space-between;  
  display: flex;
  background-color: transparent;
}